body{
    
    background-color:whitesmoke;
    
   background-image: url(https://wallpapercave.com/wp/dIHwx7w.jpg);
   background-size: cover;
}





.home{
    font-weight: bolder;
    font-size: 20px;
    color:black;
    margin-left: 10px;
    display: flex;
    border-radius: 60%;
   
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
  
  
   
}


.name{
     color: black;
     font-size: 16px;
     border: black solid 2px;
     border-radius: 4px;
     background-color:transparent;
     text-align: center;
     border-color: transparent;
}

.name:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
}


.hlogo{
    padding-top: 15px;
    margin-left: 90%;
   
}

.box{
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;         
    align-content: center;
    border:2px solid black;
    border-radius:25px ;
    border-color: transparent;
    outline: 1px solid black;
    outline-color: transparent;
    background-color:whitesmoke;
    padding-top: 0;
    padding-right: 50px;
    padding-bottom: 0;
    padding-left: 50px;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 100px;
    margin-bottom: 0px;
    
    box-shadow: 5px 5px 8px rgb(250, 250, 253), 10px 10px 8px rgb(18, 2, 2), 15px 15px 8px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(247, 247, 255), 0 0 5px rgba(243, 243, 245, 0.614);
    background-color: whitesmoke;
   }



 .save{
    color:black;
    display: flex;
    font-size: 80px;
    font-weight: lighter;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 200px;

 }   


 .nature{
    margin-left: 100px;
 }


.back{
    color:whitesmoke;
    font-size: 30px;
    font-weight: bolder;
    
    margin-left: 10px;
   
    margin-top: 0px;
    font-family: 'Courier New', Courier, monospace;
   
}
section{
    height: 200px;
    padding: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    
   
}


button{
    color:white;
        padding:10px 25px 10px 25px;
        
        background-color: orange;
        border-radius: 10px;

        
        
        
        font-weight:lighter;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform:uppercase;
        border-color: transparent;

        cursor: pointer;
        display: inline-block;
}

button:hover{

color: black;
    box-shadow: 0 5px #666;
  transform: translateY(4px);
  transform: scale(1.1);
}
    
