body{
    margin: 10px;
    padding: 10px;
    background-image: white;
    
    
}




.head{
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
   

    font-weight: bolder;
    font-size: 30px;
    color:black;
    margin-left: 10px;
    display: flex;
    
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
  
.logo img{
    padding-top: 15px;
    margin-right:20px;
}



.primary{
    color:black;
    font-size: xx-large;
   
    margin-left:100px;
}

.primary:hover{
    text-decoration-color: orange;
    text-decoration-line: overline underline ;
    transform: scale(1.1);
}

.logo img{
    display: flex;
}



.kelvi1{
    margin-left: 300px;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:50px;
    }

.select{
    margin-left: 330px;
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px; 
    
     
}
   

.box{
    display:flex;
    flex-direction: row;
    margin-left: 600px;
   }

button{
    display: flex;
    flex-direction: row;
    color:black;
    font-weight: bolder;
    border-radius: 5px;
    border: 5px ridge grey;
    
    border-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    margin: 30px;
    font-size: medium;
    font-weight:lighter ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: transparent;
    cursor: pointer;
    display: inline-block;
    box-shadow: 5px 5px 8px rgb(250, 250, 253), 10px 10px 8px rgb(18, 2, 2), 15px 15px 8px;
    }

button:hover{
    color: black;
    box-shadow: 0 15px whitesmoke;
    transform: translateY(15px);
    transform: scale(1.1);
}


    .frow{
        display:flex;
        flex-direction: row;
        margin-left:300px;
    }

    .srow{
        display:flex;
        flex-direction: row;
        margin-left:300px;
    }

    .trow{
        display:flex;
        flex-direction: row;
        margin-left:300px;
    }

   
    

.input{
    margin-left:400px;
    margin-top: 100px;
    padding-left: 45px;
    width:60px;
    height:30px;
    }

input{
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    }


    .black button{
        color:white;
        display:flex;
        flex-direction: row;
        background-color: black;
      }    
        
        
    .grey button{
        display: flex;
        flex-direction: row;
        background-color: grey;
    }

    .white button{
        display:flex;
        flex-direction: row;
        background-color: white;
    }

    .brown button{
        color:white;
        display:flex;
        flex-direction: row;
        background-color: rgb(49, 3, 3);


    }

    .red button{
        display:flex;
        flex-direction: row;
        background-color: red;

    }

    .yellow button{
        display:flex;
        flex-direction: row;
        background-color:yellow;
    }

    .green button{
        display:flex;
        flex-direction: row;
        background-color:green;

    }

    .blue button{
        display:flex;
        flex-direction: row;
        background-color:blue;
     }

     .orange button{
        display:flex;
        flex-direction: row;
        background-color:orange;

     }

.color .next button{
    color:white;
    background-color:orange;
    padding: 3px 10px 3px 10px;
    border-radius: 25px;
    font-weight:lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform:uppercase;
    border-color: transparent;
    border-width: 10px 50px 10px 50px;
    cursor: pointer;
    display: inline-block;
    margin-left: 600px;
    }

    .color button:hover{
    color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}




