* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0px;
  padding: 0px;
}

#navbar{
  background: transparent;
  backdrop-filter: blur(10px);
}

/* html,body{
  height:100%;
} */

/* body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto";
  background-color: #f2f2f7;
  transition: 0.4s;
}

/* body.dark {
  /* background-color: #212121; */
  /* background-color: black; */ */


.switch{
  position: relative;
  width: 3.5rem;
  height: 2rem;
}

.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: none;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before{
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 20px;
  left: 0.3rem;
  top: 10%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, rgb(234, 0, 255) , orange 70%);
  transition: 0.4s;
}

input:checked + .slider{
  background-color: #37393f;
}

input:checked + .slider:before{
  background: #37393f;
  left:calc(100% - 1.7rem);
  box-shadow:
              inset -3px -2px 5px -2x #8983f7,
              inset -10px -4px 0 0 #a3dafb;
} */



.guidance {
  border: 1px solid black;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: gray;
  border: none;
  box-shadow: inset 0 0 0 0 black;
  transition: ease-out 0.5s;
  outline: none;
}

.guidance:hover {
  box-shadow: inset 200px 0 0 0 orange;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.aboutimage {
  background-image: url(https://images5.alphacoders.com/929/929647.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  opacity: 1;
}

div .headerendline {
  border: 1px solid whitesmoke;
}

.cursor{
  z-index: 999;
  position: fixed;
  background: #2696E8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px orange,
   0 0 60px lightgrey,
   0 0 100px whitesmoke;
   animation: colors 5s infinite;
   transform: translate(-50%, -50%);
}

@keyframes colors {
  0%{
    filter: hue-rotate(0deg);
  }

  100%{
    filter: hue-rotate(360deg);
  }
}

.cursor:before{
  content: '';
  position: absolute;
  background: #2696E8;
  width:50px;
  height:50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}



h1,
h3 {
  text-align: center;
}

.title {
  font-size: 100px;
  font-weight: bolder;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  margin-top: 100px;
}

.sub-title {
  font-family: 'Heebo', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  color: white;
  padding-top: 10px;
  letter-spacing: 4px;
}

.spanabout {
  color: orange;
}

.spanhome {
  color: white;
}

.spanhome:hover {
  color: orange;
}

.about-section {
  background-color: whitesmoke;
  padding-bottom: 150px;
}

.goal {
  color: black;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bolder;
  padding-bottom: 20px;
  padding-top: 20px;
}


.ourmission {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.mission-discription {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: none;
  font-size: 40px;
  color: orange;
  position: relative;
  left: 100px;
  right: 50px;
  top: 3px;
  line-height: 1.2em;
  word-spacing: 2px;
}

.about-sparrow {
  border-radius: 3px;
  width: 25vw;
  height: 15vw;
  position: relative;
  right: 30px;
  top: 35px;
}

.flip-card{
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition:transform 0.6s ;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
  transform:rotateY(180deg);
}

.flip-card-front,
.flip-card-back{
  position:absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 16px;
}

.flip-card-front{
  background-image: linear-gradient(45deg, white);
}

.flip-card-front img {
  width: 220px;
  margin-top: 1rem;
}

.flip-card-back{
  background-image: linear-gradient(45deg, white);
  color: aliceblue;
  transform:rotateY(180deg);
}

.flip-card-back img{
  width: 220px;
  margin-top: 1rem;
}

.flip-card-back h1{
  margin-bottom: 0.3rem;
  color: black;
  font-family: 'Heebo', sans-serif;
}


.needbirds {
  font-size: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  margin-top: 0px;
  position: relative;
  top: 250px;
  padding-bottom: 100px;
  text-align: center;
}

.needbirdsimage {
  background-image: url(https://scx2.b-cdn.net/gfx/news/hires/flockofbirds.jpg);
  background-size: cover;
  height: 600px;
  width: 100%;
  opacity: 0.9s;
}

.canyouimagine {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: 'Heebo', sans-serif;
  line-height: 1.8;
}

.needq1 {
  font-size: 1.8rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: orange;
  padding-top: 80px;
  margin-left: 8%;
}

.aboutbirdvedio {
  width: 600px;
  height: 400px;
}

span.number {
  color: orange;
  margin-left: -1rem;
}

.oddtitle {
  margin-bottom: 70px;
}

.eventitle {
  margin-bottom: 70px;
}

.oddpara {
  color: grey;
  position: relative;
  left: 10px;
  bottom: 50px;
}

.evenpara {
  color: grey;
  position: relative;
  right: 50px;
  bottom: 50px;
}

.pointofneeds {
  color: gray;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 27px;
  text-transform: capitalize;
  position: relative;
  left: 20px;
  padding: 60px;
}

.benifitimg {
  width: 500px;
  height: 300px;
  overflow: hidden;
  border-radius: 5px;
  border: 6px solid #fff;
 
}

.benifitimg img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  transition: .4s;
}

.benifitimg:hover img {
  filter: none;
  scale: 1.3;
}

.double {
  display: flex;
  flex-direction: row;
  text-align: justify;
  align-content: center;
  align-items: center;
  padding: 10px;
}

.double-2 {
  display: flex;
  flex-direction: row;
  text-align: justify;
  align-content: center;
  align-items: center;
  padding: 10px;
}


.needpara {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.8;
  word-spacing: 4px;
  font-size: 20px;
  text-transform: capitalize;
  position: relative;
  left: 30px;
  padding: 30px;
}

.footerlogo {
  position: relative;

}

.headerindicator {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: orange;
  width: 0%;
}

.content {
  padding: 100px 0;
  margin: 50px auto 0 auto;
  width: 80%;
}





@media only screen and (max-width:400px) {

  
  .ourmission {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  .about-sparrow {
    border-radius: 3px;
    width: 400px;
    height: 200px;
  }

  .goal {
    font-size: 1.7rem;
  }

  .mission-discription {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    color: orange;
    position: relative;
    left: 22px;
    line-height: 1.8em;
    margin-top: 20px;
  }

  .about-section {
    background-color: white;
    padding-bottom: 30px;
  }

  .needbirds {
    font-size: 30px;
    position: relative;
    top: 120px;

  }

  .needbirdsimage {
    background-image: url(https://scx2.b-cdn.net/gfx/news/hires/flockofbirds.jpg);
    background-size: cover;
    height: 300px;
  }

  .needq1 {
    font-size: 1.2rem;
    margin-bottom: 10%;
    margin-top: -10%;
  }

  .canyouimagine {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 30px;
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
    line-height: 1.5;
  }

  .aboutbirdvedio {
    width: 390px;
    height: 300px;
    margin-top: -100px;
    margin-bottom: 40px;
  }

  .double {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    position: relative;
    left: -10px;
  }

  .double-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    left: -10px;
  }

  .oddpara {
    font-size: 65%;
  }

  .evenpara {
    font-size: 65%;
    left: 6%;
  }

  .pointofneeds {
    font-size: 27px;
    position: relative;
    left: -10px;
    padding: 60px;
  }

  .benifitimg {
    width: 250px;
    height: 60%;
    margin-left: 6%;
    margin-top: -40px;
  }

  .needpara {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.7;
    word-spacing: 4px;
    font-size: 60%;
    margin-left: -17%;
  }

  .aboutimage {
   object-fit: cover;
  }
}