
.header{
  background-color: black;
}

/* .location {
    padding: 10px;
    margin-left: 20px;
} */

.kelvi {
  color: orange;
  font-size: 2rem;
  margin-left: 480px;
  margin-top: 200px;
  }
  
  .bathil {
    height: 45px;
    margin-top: 40px;
    margin-left: 580px;
    width: 30cm;
  }
.container{
display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    padding: 1rem;
    flex-direction: column;
}
  
  
  .bathil input {
    width: 20%;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  }
  
  .question-section{
   text-align: center;
   margin-top:15%; 
  }
  
  .next {
    width: 100px;
    padding: 13px 30px;
    margin-top: 30px;
   }
  
  .back {
      width: 10px;
      padding-left: 10px ;
      margin-top: 30px;
      margin-left: 20px;
  }

  @media only screen and (max-width:400px) {

    .kelvi {
      color: orange;
      font-size: 16px;
    }
  
    .bathil input {
      width: 40%;
    }
  
    .next {
      font-size: 13px;
      width: 70px;
      height: 30px;
      margin-top: 20px;
     }

     .back {
      margin-top: -100px;
      margin-left: 20px;
    }
  }