.header{
    background-color: black;
  }

.kelvi {
    color: orange;
    font-size: 2rem;
}

input {
    position: relative;
    right: 70px;
    width: 29cm;
}




.card {
    font-family:  'Heebo', sans-serif;
    color: grey;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    width: 10%;
    border-radius: 4%;
  }

  .card:nth-child(1) {
    width:150px;
    height: 140px;
  }

  .card:nth-child(2) {
    width:150px;
    height: 140px;
  }

  .card:nth-child(3) {
    width:150px;
    height: 140px;
  }

  .card:nth-child(4) {
    width:150px;
    height: 140px;
  }
  
  .card:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  }
  
  .option_container{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-content: center;
    align-items: center;
    margin-top: 80px;
  }
  
  .card:hover{
    background-color: grey;
    color: white;
  }
  
  .container {
    padding: 2px 16px;
  }
  
  .containers {
    padding: 2px 16px;
  }
  

.question-section {
    text-align: center;
    margin-top: 10%;
}

.next {
    width: 100px;
    padding: 13px 30px;
    margin-top: 70px;
   }
  
  .back {
      width: 10px;
      padding-left: 10px ;
      margin-top: -50px;
      margin-left: 20px;
  }

@media only screen and (max-width:400px) {

    .kelvi {
      color: orange;
      font-size: 18px;
    }

    input {
        position: relative;
        right: 70px;
        width: 10cm;
    }

    .bimg {
        width: 50%;
        height: 200px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
    }

    .question-section {
        text-align: center;
        margin-top: 3%;
    }

    .next {
      font-size: 13px;
      width: 70px;
      height: 30px;
      margin-top: 20px;
     }
  
     .back {
      margin-top: -100px;
      margin-left: 20px;
    }
}