body {
  position: relative;
  margin: 0px;
  padding: 0px;
}

.guidance {
  border: 1px solid black;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: gray;
  border: none;
  box-shadow: inset 0 0 0 0 black;
  transition: ease-out 0.5s;
  outline: none;
}

.guidance:hover {
  box-shadow: inset 200px 0 0 0 orange;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.headerendline {
  border: 1px solid white;
}

.btn {
  padding: 16px;
  width: 10%;
  border: none;
  border-radius: 0;
  background-color: #3b4148;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 0px;
}

.btn:hover {
  background-color: #3b4148;
}

.birdstructure {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  width: 100%;
  height: 450px;
}

.contentleft {
  padding: 10px;
  padding-left: 50px;
  position: relative;
  width: 500px;
  height: 350px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
}

.contentleft img {
  width: 70%;
  height: 80%;
  border-radius: 0px;
  border: 5px solid whitesmoke;
  padding: 10px;
}

.contentleft img:hover {
  transform: scale(1.1);
  transition: 1s;
}

.contentright {
  font-size: 28px;
  width: 50%;
  margin-right: 200px;
  color: black;
  font-weight: lighter;
  word-spacing: 4px;
  line-height: 1.5;
}

span {
  font-weight: bold;
  color: black;
}

#tooltip {
  position: relative;
  cursor: pointer;
}

#tooltiptext {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 16px;
  font-weight: lighter;
  transform: translateX(-50%);
  background-color: transparent;
  border: 1px solid black;
  color: black;
  white-space: nowrap;
  padding: 5px 10px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#tooltiptext::before {
  content: "";
  position: absolute;
  left: 10%;
  top: 100%;
  transform: translateX(18px);
  border: 7px solid;
  border-color: #000 #0000 #0000 #0000;

}

#tooltip:hover #tooltiptext {
  top: -40%;
  visibility: visible;
  opacity: 1;
}

.tooltipsss {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 2%;
}

.headerindicator {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: orange;
  width: 0%;
}

.content {
  padding: 100px 0;
  margin: 50px auto 0 auto;
  width: 80%;
}

textarea{
  resize: none;
  height: 350px;
  width: 800px;
}