body {
    margin: 0px;
    padding: 0px;
    background-size: cover;
    position: sticky;
    background-color: #F8F2CB;
    position: fixed;
}

.head {
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 30px;
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

.location {
    padding: 10px;
    margin-left: 20px;
    background-color: #F8F2CB;

}

.kelvi2 {
    color: orange;
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    position: relative;
    top: 150px;
    padding: 10px;
}

.bathil1 {
    position: relative;
    top: 170px;
    padding: 0px;
    }

.bathil1 input {
    position: relative;
    left: 330px;
    background-color: #F8F2CB;
    width: 550px;
    height: 45px;
    padding-left: 360px;
    font-size: 1rem;
    border-bottom: 5px solid #D0CFCE;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
   }

.next {
    position: relative;
    left:680px;
    top:250px;
    }

.back1 {
    position:relative;
    left: 10px;
    top: 440px;
    
    }